#delicious {
	font-family: tbd;
	font-size: 24px;
}

#sub-delicious {
	font-family: tbd;
	font-size: 6px;	
}
div.slash-border {
	border-image:;
}
#chocolate-pizza {
	font-family: tbd;
	font-size: 36px;
}
#sub-chocolate-pizza {
	font-family: tbd;
	font-size: 6px;
}
#print-text{
	font-family: tbd;
	font-size: 6px;
}
section.paragraph {
	font-family: tbd;
	font-size: 10px;
}
li {
	list-style-type: square;
	margin-left: 50px;
}
#share-recipe {
	color: white;
	background-color: orange;
}